body{
    margin : 0;
    font-family: 'Montserrat', sans-serif;
    font-size : 15px;
    line-height : 1.6;
    color : #333;
}
*, *:before, *:after{
    -webkit-box-sizing : border-box;
    box-sizing : border-box;
}

.container {
    width : 100%;
    max-width : 1200px;
    margin : 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color : white;
    margin : 0;
}

/* intro */

.intro {
    width : 100%;
    height : 100vh;
    background : url("../images/background.jpg") center no-repeat;
    -webkit-background-size : cover;
    background-size : cover;
}

/* Header */

.header {
    padding-top : 30px;
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    z-index: 1000;
    width : 100%;
}

.header__inner {
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size : 30px;
    font-weight : 700;
    color : white;
}

/* Nav */

.nav {
    text-transform: uppercase;
    font-size : 14px;
    position : relative;
}

.nav__link {
    display : inline-block;
    vertical-align : top;
    margin : 0 15px;

    color : white;
    text-decoration: none;

    transition : color .1s linear;
}

.nav__link::after {
    content : '';
    display : block;
    width : 100%;
    height : 3px;

    background-color : #EF6300;
    opacity: 0;

    position : relative;
    top : 100%;
    left : 0;
    z-index : 1;

    transition : opacity .1s linear;
}

.nav__link:hover {
    color : #EF6300;
}

.nav__link:hover::after {
    opacity : 1;
}